<div class="container pt-4 pb-4">

    <header class="row justify-content-between align-items-center">
        <div class="logo">
            <img src="https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/logo.png?1638757174469" alt="">
        </div>
        <div class="navbar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active-cus">
                            <a routerLink="" class="nav-link pr-4" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/about" class="nav-link pr-4" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a routerLink="/products" class="nav-link dropdown-toggle pr-4" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a routerLink="/raucu"class="dropdown-item" href="#">Rau củ</a>
                                <a class="dropdown-item" href="#">Hoa quả</a>
                                <a class="dropdown-item" href="#">Hải sản</a>
                                <a class="dropdown-item" href="#">Các loại hạt</a>
                                <a class="dropdown-item" href="#">Thực phẩm tươi sống</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/contact" class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="icons row align-items-center justify-content-between">
            <div class="position-relative">
                <input type="text" class="form-cus" placeholder="Search Something...">
                <i class="fa-solid fa-magnifying-glass position-absolute faaaa"></i>
            </div>
            <i routerLink="/signin"class="fa-solid fa-user-plus pl-4"></i>
            <i routerLink="/cart" class="fa-solid fa-basket-shopping pl-4"></i>
        </div>
    </header>


</div>

<main>

    <div class="banner">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/slider_1.jpg" alt="banner"
            class="card-img">
    </div>



    <div class="content">
        <div class="container text-center">
            <div class="content_headers">
                <div class="text-gradiant d-inline-block">ABOUT US</div>
            </div>
            <img src="https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_title.png" alt="">
            <div class="content_text container">
                Hiện tại vùng nguyên liệu của chúng tôi có thể cung cấp các thực tập tươi sạch với số lượng lớn vì đang
                vào vụ mùa thu hoạch nên chúng tôi có thể cung ứng cho tất cả các đối tác xuất khẩu nông sản trên cả
                nước.
            </div>

            <div class="owl-stage-outer mt-5">
                <div class="owl-stage row"
                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1170px;">
                    <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                        <div class="uti_body">
                            <span class="icon">
                                <img class="lazyload loaded"
                                    src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_1.png?1638757174469"
                                    data-src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_1.png?1638757174469"
                                    alt="Trang trại hữu cơ" data-was-processed="true">
                            </span>
                            <div class="content ">
                                <p class="title">Trang trại hữu cơ</p>
                                <span class="sum">Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                        <div class="uti_body">
                            <span class="icon">
                                <img class="lazyload loaded"
                                    src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_2.png?1638757174469"
                                    data-src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_2.png?1638757174469"
                                    alt="Thực phẩm sạch" data-was-processed="true">
                            </span>
                            <div class="content ">
                                <p class="title">Thực phẩm sạch</p>
                                <span class="sum">Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                        <div class="uti_body">
                            <span class="icon">
                                <img class="lazyload loaded"
                                    src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_3.png?1638757174469"
                                    data-src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_3.png?1638757174469"
                                    alt="An toàn sinh học" data-was-processed="true">
                            </span>
                            <div class="content ">
                                <p class="title">An toàn sinh học</p>
                                <span class="sum">Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                        <div class="uti_body">
                            <span class="icon">
                                <img class="lazyload loaded"
                                    src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_4.png?1638757174469"
                                    data-src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/icon_uti_4.png?1638757174469"
                                    alt="Đa dạng sinh học" data-was-processed="true">
                            </span>
                            <div class="content ">
                                <p class="title">Đa dạng sinh học</p>
                                <span class="sum">Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="content_headers mt-5">
                    <div class="text-gradiant d-inline-block">Category</div>
                </div>

                <img src="https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_title.png" alt="">
                <div class="container list">
                    <div class="mt-3 row justify-content-between">
                        <button class="btn btn-outline-success" type="button">Rau củ</button>
                        <button class="btn btn-outline-success" type="button">Hoa quả</button>
                        <button class="btn btn-outline-success" type="button">Hải sản</button>
                        <button class="btn btn-outline-success" type="button">Các loại hạt</button>
                        <button class="btn btn-outline-success" type="button">Thực phẩm tươi sống</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mt-3" *ngFor="let item of list">
                    <div class="card mt-5 cur"routerLink="/detail/{{item.id}}">
                        <img class="card-img-top" width="300px" height="250px" src="{{item.image}}" alt="">
                        <div class="card-body bg-light">
                            <h4 class="card-title prod_name">{{item.prod_name}}</h4>
                           <div class="prices d-flex text-center justify-content-around">
                                <p class="product-price">
                                    {{item.price}} $
                                </p>
                           </div>
                           <div class="icon">
                                <i routerLink="/" class="fa-solid cur fa-heart pr-4"></i>
                                <i routerLink="/cart" class="fa-solid cur fa-basket-shopping pr-4"></i>
                                <i routerLink="/detail/{{item.id}}" class="fa-solid cur fa-search "></i>
                           </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="content_headers">
                <div class="text-gradiant d-inline-block">Top brands</div>
            </div>
            <img src="https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_title.png" alt="">

            <div class="owl-stage row"
                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1170px;">
                <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                    <div class="uti_body">
                        <span class="icon">
                            <img class="lazyload loaded"
                                src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_2.png"
                                data-src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_2.png"
                                alt="Trang trại hữu cơ" data-was-processed="true">
                        </span>

                    </div>
                </div>
                <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                    <div class="uti_body">
                        <span class="icon">
                            <img class="lazyload loaded"
                                src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_1.png"
                                data-src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_1.png"
                                alt="Thực phẩm sạch" data-was-processed="true">
                        </span>

                    </div>
                </div>
                <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                    <div class="uti_body">
                        <span class="icon">
                            <img class="lazyload loaded"
                                src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_3.png?1638757174469"
                                data-src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_3.png?1638757174469"
                                alt="An toàn sinh học" data-was-processed="true">
                        </span>

                    </div>
                </div>
                <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                    <div class="uti_body">
                        <span class="icon">
                            <img class="lazyload loaded"
                                src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_4.png"
                                data-src="https://bizweb.dktcdn.net/thumb/compact/100/350/980/themes/802125/assets/brand_4.png"
                                alt="Đa dạng sinh học" data-was-processed="true">
                        </span>

                    </div>
                </div>


            </div>


        </div>



    </div>
</main>


<div class="new-letter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="letter-left heading">
                    <h3>Đăng kí nhận tin khuyến mãi</h3>
                </div>
            </div>
            <div class="col-md-6">
                <form
                    action="https://sapo.us19.list-manage.com/subscribe/post?u=2887dcda77021868cccd236ea&amp;id=7ace19f37b"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="input-group">
                        <input type="email" autocomplete="off" class="form-control" value=""
                            placeholder="Nhập email của bạn" name="EMAIL" id="mail">
                        <span class="input-group-btn">
                            <button class="btn btn-primary button_gradient" routerLink="/signup" name="subscribe" id="subscribe"
                                type="submit">Đăng ký</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer">

	<div class="mid-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="widget_first_childs margin-top-50">
						<div class="logo_footer" style="margin-bottom: 12px;">
							<a href="/" class="logo-wrapper">
								<img src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/logo.png?1638757174469"
									alt="logo ">
							</a>
						</div>
						<div class="widget-ft-top">
							<h4 class="title-menu-top hidden">
								<span>
									Hỗ trợ mua hàng
								</span>
							</h4>
							<div class="hotline_footer">
								<ul class="contact padding-0">
									<li class="li_footer_h">
										<span class="txt_content_child">
											<i class="fas fa-map-marker-alt mt-2"></i>
											<span class="add">

												Toà nhà Ladeco, 266 Đội Cấn, phường Liễu Giai, Quận Ba Đình, Hà Nội

											</span>
										</span>
									</li>
									<li class="li_footer_h">
										<span class="txt_content_childs">


											<i class="fas fa-mobile-alt"></i> <a class="hai01" href="tel:19006750">1900
												6750</a>

										</span>
									</li>
									<li class="li_footer_h">
										<span class="txt_content_childs">

											<i class="far fa-envelope"></i> <a
												href="mailto:support@sapo.vn">support@sapo.vn</a>

										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft first">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu01" aria-controls="collapseListMenu01">
										Cẩm nang sử dụng <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu02" aria-controls="collapseListMenu02">
										Chính sách <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="time_work" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu03" aria-controls="collapseListMenu03">
										Dịch vụ <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footers text-center">
            <p class="m-0">@ Bản quyền thuộc về <span class="cool">Cool Team</span> | Cung cấp bởi Sapo</p>
        </div>
	</div>

</footer>