<div class="container pt-4 pb-4">

	<header class="row justify-content-between align-items-center">
		<div class="logo">
			<img src="https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/logo.png?1638757174469" alt="">
		</div>
		<div class="navbar">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active-cus">
							<a routerLink="" class="nav-link pr-4" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a routerLink="/about" class="nav-link pr-4" href="#">About</a>
						</li>
						<li class="nav-item dropdown">
							<a routerLink="/products" class="nav-link dropdown-toggle pr-4" href="#" id="navbarDropdown"
								role="button" data-toggle="dropdown" aria-expanded="false">
								Products
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item cursor" *ngFor="let item of listCate" (click)="filter_pro(item.id)">{{item.cate_name}}</a>
							</div>
						</li>

						<li class="nav-item">
							<a routerLink="/contact" class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="icons row align-items-center justify-content-between">
			<div class="position-relative">
                <input type="text" class="form-cus" placeholder="Search Something...">
                <i class="fa-solid fa-magnifying-glass position-absolute faaaa"></i>
            </div>
			<i routerLink="/signin"class="fa-solid fa-user-plus pl-4"></i>
			<i routerLink="/cart" class="fa-solid fa-basket-shopping pl-4"></i>
		</div>
	</header>


</div>
<main>
	<div class="breadcrumb_background margin-bottom-40">
		<div class="title_full">
			<div class="container a-center">
				<p class="title_page">Tất Cả Sản Phẩm</p>
			</div>
		</div>
		<section class="bread-crumb">
			<span class="crumb-border"></span>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 a-center breadcrumb-bg ">
						<ul class="breadcrumb container text-center m-auto d-inline-block">
							<li class="home">
								<a href="/"><span>Trang chủ</span></a>
								<span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
							</li>
							<li><strong><span>Tất Cả Sản Phẩm</span></strong></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="content">
		<div class="container">
			<div class="row">
                <div class="col-lg-3" *ngFor="let item of list">
                    <div class="card cur mt-5" routerLink="/detail/{{item.id}}">
                        <img class="card-img-top" width="300px" height="250px" src="{{item.image}}" alt="">
                        <div class="card-body bg-light">
                            <h4 class="card-title text-center prod_name">{{item.prod_name}}</h4>
                            <div class="prices d-flex text-center justify-content-around">
								<p class="product-price">
									{{item.price}} $
								</p>
							</div>
							<div class="icon text-center">
                                <i routerLink="/" class="fa-solid cur fa-heart pr-4"></i>
                                <i routerLink="/cart" class="fa-solid cur fa-basket-shopping pr-4"></i>
                                <i routerLink="/detail/{{item.id}}" class="fa-solid cur fa-search "></i>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</main>


<div class="new-letter">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="letter-left heading">
					<h3>Đăng kí nhận tin khuyến mãi</h3>
				</div>
			</div>
			<div class="col-md-6">



				<form
					action="https://sapo.us19.list-manage.com/subscribe/post?u=2887dcda77021868cccd236ea&amp;id=7ace19f37b"
					method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
					<div class="input-group">
						<input type="email" autocomplete="off" class="form-control" value=""
							placeholder="Nhập email của bạn" name="EMAIL" id="mail">
						<span class="input-group-btn">
							<button class="btn btn-primary button_gradient" routerLink="/signup" name="subscribe" id="subscribe"
								type="submit">Đăng ký</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<footer class="footer">

	<div class="mid-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="widget_first_childs margin-top-50">
						<div class="logo_footer" style="margin-bottom: 12px;">
							<a href="/" class="logo-wrapper">
								<img src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/logo.png?1638757174469"
									alt="logo ">
							</a>
						</div>
						<div class="widget-ft-top">
							<h4 class="title-menu-top hidden">
								<span>
									Hỗ trợ mua hàng
								</span>
							</h4>
							<div class="hotline_footer">
								<ul class="contact padding-0">
									<li class="li_footer_h">
										<span class="txt_content_child">
											<i class="fas fa-map-marker-alt mt-2"></i>
											<span class="add">

												Toà nhà Ladeco, 266 Đội Cấn, phường Liễu Giai, Quận Ba Đình, Hà Nội

											</span>
										</span>
									</li>
									<li class="li_footer_h">
										<span class="txt_content_childs">


											<i class="fas fa-mobile-alt"></i> <a class="hai01" href="tel:19006750">1900
												6750</a>

										</span>
									</li>
									<li class="li_footer_h">
										<span class="txt_content_childs">

											<i class="far fa-envelope"></i> <a
												href="mailto:support@sapo.vn">support@sapo.vn</a>

										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft first">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu01" aria-controls="collapseListMenu01">
										Cẩm nang sử dụng <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu02" aria-controls="collapseListMenu02">
										Chính sách <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="time_work" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu03" aria-controls="collapseListMenu03">
										Dịch vụ <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footers text-center">
            <p class="m-0">@ Bản quyền thuộc về <span class="cool">Cool Team</span> | Cung cấp bởi Sapo</p>
        </div>
	</div>

</footer>