.active-cus a {
    color: #91AD41 !important;
}

.nav-link:hover {
    color: #91AD41 !important;
}

.dropdown-menu {
    padding: 5px;
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #4c4b4b50;
}

.dropdown-item:last-child {
    border-bottom: 0 !important;
}

.card-1 {
    width: 100%;
    overflow: hidden !important;
    max-height: 70% !important;
    background-color: rgb(89, 204, 166);
}

.card-2 {
    overflow: hidden !important;
    max-height: 70% !important;
    background-color: rgb(145, 173, 65);
}

.card-3 {
    overflow: hidden !important;
    max-height: 70% !important;
    background-color: rgb(227, 179, 117);
}

.card-4 {
    overflow: hidden !important;
    max-height: 70% !important;
    background-color: rgb(239, 127, 148);
}

img {
    overflow: hidden !important;
    vertical-align: middle !important;
}

.content_headers {
    font-size: 34px;
}

.text-gradiant {
    margin-bottom: 10px;
    text-transform: uppercase;
    background: linear-gradient(35deg, #91ad41, #ff8a6c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content_text {
    margin-top: 20px;
    opacity: 0.8;
    font-size: 14px;
}

.content .title {
    padding-top: 10px;
    font-size: 19px;
    font-weight: 600;
}

.banner_content {
    background-color: rgb(89, 204, 166);
    background-image: url("https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/col_1.png");
    position: relative;
    padding: 0;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right center
}

.container {
    width: 1170px;

}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;

}

.col-md-6 {
    width: 50%;

}


.new-letter {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(232, 218, 199, 0.6);
    border-top: 1px solid #e8dac7;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    float: left;
    width: 100%;
}

.container {
    width: 1170px;
}



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    width: 50%;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.new-letter .letter-left {
    width: 100%;
    display: block;
    float: left;
}

.new-letter form {
    margin: 0px;
    margin-top: 5px;
}

.new-letter form .input-group {
    width: 100%;
    float: left;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.new-letter form .input-group input {
    box-shadow: none;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 42px;
    color: #333;
    padding: 0 30px 0 20px;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
}

.input-group-field,
.input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.new-letter form .input-group .input-group-btn .btn {
    font-weight: 400;
    height: 42px;
    border-radius: 30px;
    background-color: #91ad41;
    color: #fff;
    min-width: 110px;
    text-transform: none;
    margin-left: -20px !important;
    z-index: 9 !important;
}

.input-group .input-group-field:last-child,
.input-group .input-group-btn:last-child>.btn,
.input-group .input-group-btn:last-child>input[type="submit"] {
    border-radius: 0;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.new-letter .button_gradient {
    line-height: 42px;
}

.btn.btn-primary,
input.btn-primary[type="submit"] {
    padding: 0 20px;
    background: #91ad41;
    background: linear-gradient(35deg, #91ad41, #ff8a6c);
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    height: 50px;
    line-height: 50px;
}

.input-group .btn,
.input-group input[type="submit"],
.input-group .input-group-field {
    height: 40px;
}

.input-group-btn>.btn {
    position: relative;
}

.button_gradient {
    background: #91ad41;
    background-image: -moz-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%) !important;
    background-image: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%) !important;
    background-image: -ms-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%) !important;
}

.btn,
input[type="submit"] {
    display: inline-block;
    height: 40px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -ms-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.container {
    width: 1170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.hidden {
    display: none !important;
}

.h4,
h4 {
    font-size: 18px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


.contact li.li_footer_h {
    padding-left: 0px;
    font-size: 14px;
    position: relative;
    color: #363636;
    opacity: 1;
    margin-bottom: 10px !important;
    padding-bottom: 15px;
    line-height: 20px;
}

.contact .li_footer_h {
    padding-left: 0px !important;
}

footer.footer ul.contact li .txt_content_child {
    display: inherit;
}

.contact .li_footer_h .txt_content_child {
    width: 100%;
    float: left;
}

footer.footer ul.contact li {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px !important;
    line-height: 24px;
    display: block;
    float: left;
    width: 100%;
}

.contact li.li_footer_h {
    padding-left: 0px;
    font-size: 14px;
    position: relative;
    color: #363636;
    opacity: 1;
    margin-bottom: 10px !important;
    padding-bottom: 15px;
    line-height: 20px;
}

.contact .li_footer_h .txt_content_child .fas {
    top: 0px;
}

.contact li.li_footer_h .fas,
.contact li.li_footer_h .far {
    float: left;
    position: relative;
    top: -1px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
    padding-left: 0px;
    line-height: 30px;
    color: #91ad41;
    font-size: 14px;
    background: #fff;
    border: 1px solid #91ad41;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.contact .li_footer_h .txt_content_child .add {
    display: block;
    float: left;
    width: calc(100% - 40px);
    padding-top: 5px;
    word-break: break-word;
}

footer.footer ul.contact li {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px !important;
    line-height: 24px;
    display: block;
    float: left;
    width: 100%;
}

.contact li.li_footer_h {
    padding-left: 0px;
    font-size: 14px;
    position: relative;
    color: #363636;
    opacity: 1;
    margin-bottom: 10px !important;
    padding-bottom: 15px;
    line-height: 20px;
}

.contact .li_footer_h {
    padding-left: 0px !important;
}

.contact li.li_footer_h {
    padding-left: 0px;
    font-size: 14px;
    position: relative;
    color: #363636;
    opacity: 1;
    margin-bottom: 10px !important;
    padding-bottom: 15px;
    line-height: 20px;
}

.contact li.li_footer_h .fas,
.contact li.li_footer_h .far {
    float: left;
    position: relative;
    top: -1px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
    padding-left: 0px;
    line-height: 30px;
    color: #91ad41;
    font-size: 14px;
    background: #fff;
    border: 1px solid #91ad41;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.contact li.li_footer_h:last-child {
    padding-bottom: 0px;
}

footer.footer ul.contact li {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px !important;
    line-height: 24px;
    display: block;
    float: left;
    width: 100%;
}

.contact li.li_footer_h {
    padding-left: 0px;
    font-size: 14px;
    position: relative;
    color: #363636;
    opacity: 1;
    margin-bottom: 10px !important;
    padding-bottom: 15px;
    line-height: 20px;
}


.li {
    text-align: -webkit-match-parent;
}

.ul {
    list-style: none outside;
}


.ul {
    list-style-type: disc;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

footer.footer .widget-ft.first {
    border-left: none;
    padding-left: 0;
}

footer.footer .widget-ft {
    padding-bottom: 40px;
}

footer.footer .title-menu {
    margin: 0;
    line-height: normal;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 60px;
    color: #fff;
    position: relative;
}

.h4,
h4 {
    font-size: 18px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

footer.footer .title-menu a i.fa {
    display: none;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.collapse {
    display: none;
}

footer.footer .list-menu {
    line-height: 35px;
    padding: 0px;
}

footer.footer .list-menu .li_menu {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 32px;
}

footer.footer .widget-ft {
    padding-bottom: 40px;
}

footer.footer .title-menu {
    margin: 0;
    line-height: normal;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 60px;
    color: #fff;
    position: relative;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #000;
    letter-spacing: .01em;
}

h4,
.h4 {
    font-size: 1.28571em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Quicksand", sans-serif;
    line-height: 1.4;
}

.h4,
h4 {
    font-size: 18px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

footer.footer .title-menu a {
    padding-right: 12px;
    background: transparent;
    cursor: default;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    position: relative;
}

footer.footer .title-menu a i.fa {
    display: none;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

footer.footer .list-menu {
    line-height: 35px;
    padding: 0px;
}

footer.footer .copyright {
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    position: relative;
    padding: 5px 0px;
    background-color: rgba(232, 218, 199, 0.6);
}

footer.footer .bg-footer-bottom {
    background: #111321;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.a-center {
    text-align: center !important;
}

.backtop .border_btt {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 4px;
    line-height: 50px;
    background: #91ad41;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

li {
    list-style: none !important;
}

a {
    color: #000 !important;
}

a:hover {
    color: #91AD41 !important;
}

.footers {
    background-color: #e8dac7;
    padding: 20px;
}

.cool {
    color: #91ad41;
}

.breadcrumb_background {
    background-image: url(//bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_breadcrumb.png?1608187967113);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding: 60px 0;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.title_full {
    width: 100%;
    float: left;
    text-align: left;
}

.a-center {
    text-align: center !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title_full .title_page {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    font-family: "Quicksand", sans-serif;
    color: #000;
    margin: 0;
}

.bread-crumb {
    background: transparent;
    margin-bottom: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.a-center {
    text-align: center !important;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.breadcrumb {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    font-size: 14px;
    padding: 0px;
    border-radius: 0;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    width: 100%;
    text-align: center;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb li .mr_lr {
    padding: 0px;
    color: #707070;
}

.breadcrumb li span {
    display: inline;
    color: #707070;
}

.breadcrumb li span .fa {
    color: #707070;
    padding: 0px 5px;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.breadcrumb-bg {
    background-color: transparent !important;
}

.footers {
    background-color: #e8dac7;
    padding: 20px;
}

.cool {
    color: #91ad41;
}

strong span {
    font-weight: lighter;
    color: #91AD41 !important;
}

.prod_name {
    font-size: 15px !important;
}

.product-price {
    font-size: 15px;
    display: block;
    font-weight: bold;
    color: #91ad41;
}

.faaaa {
    top: 8px;
    right: 10px;
}

::placeholder {
    font-size: 13px !important;
}

.form-cus {
    padding: 1px 10px;
    border-radius: 15px;
}

.cursor {
    cursor: pointer;
}
.dropdown-item:active{
    background-color: transparent !important;
}
.cur{
    cursor: pointer !important;
}