<div class="container pt-4 pb-4">

	<header class="row justify-content-between align-items-center">
		<div class="logo">
			<img src="https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/logo.png?1638757174469" alt="">
		</div>
		<div class="navbar">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active-cus">
							<a routerLink="" class="nav-link pr-4" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a routerLink="/about" class="nav-link pr-4" href="#">About</a>
						</li>
						<li class="nav-item dropdown">
							<a routerLink="/products" class="nav-link dropdown-toggle pr-4" href="#" id="navbarDropdown"
								role="button" data-toggle="dropdown" aria-expanded="false">
								Products
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a routerLink="/raucu"class="dropdown-item" href="#">Rau củ</a>
								<a class="dropdown-item" href="#">Hoa quả</a>
								<a class="dropdown-item" href="#">Hải sản</a>
								<a class="dropdown-item" href="#">Các loại hạt</a>
								<a class="dropdown-item" href="#">Thực phẩm tươi sống</a>
							</div>
						</li>

						<li class="nav-item">
							<a routerLink="/contact" class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="icons row align-items-center justify-content-between">
			<div class="position-relative">
                <input type="text" class="form-cus" placeholder="Search Something...">
                <i class="fa-solid fa-magnifying-glass position-absolute faaaa"></i>
            </div>
			<i routerLink="/signin" class="fa-solid fa-user-plus pl-4"></i>
			<i routerLink="/cart" class="fa-solid fa-basket-shopping pl-4"></i>
		</div>
	</header>

</div>
<main>
	<div class="breadcrumb_background margin-bottom-40">
		<div class="title_full">
			<div class="container a-center">
				<p class="title_page">Giới thiệu</p>
			</div>
		</div>
		<section class="bread-crumb">
			<span class="crumb-border"></span>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 a-center breadcrumb-bg ">
						<ul class="breadcrumb container text-center m-auto d-inline-block">
							<li class="home">
								<a href="/"><span>Trang chủ</span></a>
								<span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
							</li>

							<li><strong><span>Giới thiệu</span></strong></li>

						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div>
		<section class="page margin-bottom-25">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="page-title category-title">
							<h1 class="title-head"><a href="#">Giới thiệu</a></h1>
						</div>
						<div class="content-page rte">
							<p><strong>Cool Oganic</strong>&nbsp;là công ty thương mại điện tử chuyên cung cấp các thực
								phẩm hữu cơ và tự nhiên với chuỗi cửa hàng thực phẩm hữu cơ với mục tiêu giúp người tiêu
								dùng Việt Nam có một cuộc sống khỏe mạnh hơn thông qua những loại thực&nbsp;phẩm hữu cơ
								có chứng nhận, thực phẩm tự nhiên và không có nguồn gốc biến đổi gene (GMO). Chúng tôi
								lựa chọn các loại thực phẩm hữu cơ, thực phẩm tự nhiên từ các nhà sản xuất, các công ty
								trong và ngoài nước thông qua quá trình lựa chọn kỹ càng về khả năng cung ứng,
								các&nbsp;giấy chứng nhận tiêu chuẩn do các tổ chức uy tín&nbsp;thế giới cấp. Chúng tôi
								yêu thích những gì chúng tôi làm và chúng tôi đam mê những lợi ích của một lối sống lành
								mạnh, tìm nguồn cung cấp sản phẩm hữu cơ chất lượng cao nhất cho khách hàng và cung cấp
								dịch vụ giao hàng tận nhà tốt nhất. Chúng tôi hoàn toàn tin tưởng rằng những sản phẩm
								tạo ra từ quá trình canh tác và sản xuất theo phương thức hữu cơ và tự nhiên tốt cho cơ
								thể mọi người, tốt hơn cho cộng đồng và tốt hơn cho hành tinh mà chúng ta đang sống. Một
								lần nữa, <strong>Cool Oganic</strong>&nbsp;được sáng lập bởi các nhà sáng lập muốn tạo
								dựng một cộng đồng thực phẩm sạch, dựa trên nền tảng hữu cơ (organic) và thuần từ thiên
								nhiên, nhằm mang lại sức khoẻ tốt nhất cho cộng đồng.</p>
							<p>Sứ mệnh của <strong>Cool Oganic</strong> đó là giúp mọi người dễ dàng tiếp cận hơn với
								các loại thực phẩm hữu cơ, thực phẩm tự nhiên. Không chỉ cung cấp các sản phẩm hữu cơ,
								chúng tôi còn đem đến những thông tin hữu ích về sức khỏe mà thực phẩm hữu cơ đem lại
								cho con người và cộng đồng. Mỗi người có nhu cầu và cách tiếp cận với thực phẩm hữu cơ,
								thực phẩm tự nhiên theo một cách khác nhau, vì vậy, chúng tôi có mặt ở đây để hỗ trợ bạn
								bằng cách: Chỉ cung cấp những loại thực phẩm hữu cơ, thực phẩm tự nhiên đạt những chứng
								nhận uy tín nói chung và được kiểm chứng bởi <strong>Cool Oganic</strong> nói riêng.
								Khởi tạo những mối quan hệ tích cực, lâu dài và tin tưởng giữa <strong>Cool
									Oganic</strong> với khách hàng, nhân viên, nhà cung cấp và cộng đồng. Hỗ trợ phát
								triển các trang trại, cộng đồng nhỏ vùng sâu vùng xa, vùng dân tộc ít người và các đối
								tượng dễ bị tổn thương trong xã hội canh tác theo phương thức hữu cơ, phương thức tự
								nhiên để có cuộc sống tốt đẹp hơn.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>


<div class="new-letter">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="letter-left heading">
					<h3>Đăng kí nhận tin khuyến mãi</h3>
				</div>
			</div>
			<div class="col-md-6">



				<form
					action="https://sapo.us19.list-manage.com/subscribe/post?u=2887dcda77021868cccd236ea&amp;id=7ace19f37b"
					method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
					<div class="input-group">
						<input type="email" autocomplete="off" class="form-control" value=""
							placeholder="Nhập email của bạn" name="EMAIL" id="mail">
						<span class="input-group-btn">
							<button class="btn btn-primary button_gradient" routerLink="/signup" name="subscribe" id="subscribe"
								type="submit">Đăng ký</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<footer class="footer">

	<div class="mid-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="widget_first_childs margin-top-50">
						<div class="logo_footer" style="margin-bottom: 12px;">
							<a href="/" class="logo-wrapper">
								<img src="//bizweb.dktcdn.net/100/350/980/themes/802125/assets/logo.png?1638757174469"
									alt="logo ">
							</a>
						</div>
						<div class="widget-ft-top">
							<h4 class="title-menu-top hidden">
								<span>
									Hỗ trợ mua hàng
								</span>
							</h4>
							<div class="hotline_footer">
								<ul class="contact padding-0">
									<li class="li_footer_h">
										<span class="txt_content_child">
											<i class="fas fa-map-marker-alt mt-2"></i>
											<span class="add">

												Toà nhà Ladeco, 266 Đội Cấn, phường Liễu Giai, Quận Ba Đình, Hà Nội

											</span>
										</span>
									</li>
									<li class="li_footer_h">
										<span class="txt_content_childs">


											<i class="fas fa-mobile-alt"></i> <a class="hai01" href="tel:19006750">1900
												6750</a>

										</span>
									</li>
									<li class="li_footer_h">
										<span class="txt_content_childs">

											<i class="far fa-envelope"></i> <a
												href="mailto:support@sapo.vn">support@sapo.vn</a>

										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft first">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu01" aria-controls="collapseListMenu01">
										Cẩm nang sử dụng <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu02" aria-controls="collapseListMenu02">
										Chính sách <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="time_work" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="widget-ft">
								<h4 class="title-menu">
									<a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false"
										data-target="#collapseListMenu03" aria-controls="collapseListMenu03">
										Dịch vụ <i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</h4>
								<div class="" id="">
									<ul class="list-menu">

										<li class="li_menu mb-2"><a routerLink="/;" title="Trang chủ" href="/">Trang chủ</a></li>

										<li class="li_menu mb-2"><a routerLink="/about" title="Giới thiệu" href="/gioi-thieu">Giới thiệu</a></li>

										<li class="li_menu mb-2"><a routerLink="/products" title="Sản phẩm" href="/collections/all">Sản phẩm</a>
										</li>



										<li class="li_menu mb-2"><a routerLink="/contact" title="Liên hệ" href="/lien-he">Liên hệ</a></li>

									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footers text-center">
            <p class="m-0">@ Bản quyền thuộc về <span class="cool">Cool Team</span> | Cung cấp bởi Sapo</p>
        </div>
	</div>

</footer>